body {
  background-color: #f7f7f7;
  a {
    -webkit-tap-highlight-color: transparent !important;
  }
}

header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  .search-wrapper {
    .search {
      border-radius: 50px;
      border: none;
      box-shadow: 0 1px 2px silver;
      > div, > input {
        font-size: 16px !important;
        height: 30px !important;
        background-color: rgba(255, 255, 255, 0.9);
      }
      > div {
        background-color: transparent;
      }
      .fa-search {
        top: -5px;
      }
    }
  }
}

#swiper1 {
  #swiper-pagination1 {
    z-index: 2;
    bottom: 8px;
    position: absolute;
    text-align: center;
    .swiper-pagination-bullet {
      width: 6px;
      height: 2px;
      border-radius: 0;
      vertical-align: middle;
    }
    .swiper-pagination-bullet-active {
      width: 6px;
      height: 6px;
      border-radius: 100%;
    }
  }
}

#swiper2 {
  .categories {
    background-color: inherit;
    img {
      border-radius: 100%;
      box-shadow: 1px 1px 3px silver;
    }
  }
  #swiper-pagination2 {
    text-align: center;
    .swiper-pagination-bullet {
      width: 6px;
      height: 6px;
    }
  }
}

.block-title {
  height: 30px;
  margin: 24px 0 5px;
  line-height: 1;
  position: relative;
  text-align: center;
  em {
    font-style: normal;
    color: #ea3524;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    &:after {
      display: inline-block;
      vertical-align: middle;
      content: "";
      width: 3px;
      height: 3px;
      border-radius: 3px;
      background-color: #333;
      margin: -2px 5px 0;
    }
  }
  small {
    color: #ea3524;
  }
}

.ad-box {
  background-color: transparent;
  width: auto;
  border: none;
  margin: 6px;
  padding: 5px;
  dt, dd {
    width: calc(50% - 8px) !important;
    padding: 4px;
    img {
      border-radius: 5px;
    }
  }
}

.products {
  background-color: inherit !important;
  width: auto !important;
  margin: 5px;
  .product {
    border-radius: 5px;
    padding: 10px !important;
    margin: 5px !important;
    width: calc(50% - 10px) !important;
    background-color: #fff;
    .product-info {
      .product-name {
        font-weight: inherit;
        height: 40px;
        font-size: 15px;
        margin-top: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 0;
      }
      .product-price {
        .price {
          font-weight: inherit;
          color: #ff0000;
          font-size: 130%;
        }
      }
    }
  }
}

.footer {
  height: auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  box-shadow: 0 -1px 5px #ccc;
  .menus {
    width: 100%;
    .menu {
      > a, > span {
        color: #555;
      }
      i {
        font-size: 200%;
      }
      font-size: 90%;
      line-height: inherit;
      width: 20%;
      border: none;
      margin: 7px 0;
      .sub-menu {
        background-color: #fff;
        left: -0.5rem;
        box-shadow: 0 0 5px silver;
        .sub-menu-item {
          line-height: 1rem;
          a {
            vertical-align: middle;
          }
        }
        &:after {
          left: 1.2rem;
          bottom: -0.63rem;
          border-top-color: silver;
        }
      }
      .title-num {
        left: 50%;
        top: -7px;
        padding: 0 4px;
        height: 14px;
        line-height: 15px;
      }
    }
    .active a, .active span {
      color: #3bb4f2 !important;
    }
  }
}

.notify {
  box-sizing: border-box;
  left: 0;
  width: 80%;
  margin: 0 10%;
  font-size: 80%;
}

body.category {
  table {
    td {
      border: none !important;
      padding: 5px;
      a {
        border-radius: 5px;
        background-color: #fff;
        line-height: 40px !important;
        height: 40px !important;
        box-shadow: 1px 1px 5px silver;
      }
    }
  }
}

body.detail {
  .banner {
    .swiper-pagination-bullet {
      width: 6px;
      height: 2px;
      border-radius: 0;
      vertical-align: middle;
    }
    .swiper-pagination-bullet-active {
      width: 6px;
      height: 6px;
      border-radius: 100%;
    }
  }
  .goods {
    border-top: 6px solid #f7f7f7;
    div {
      border: none !important;
    }
    .title {
      font-weight: inherit !important;
    }
    .goods-price {
      color: red;
      padding: 0 0.3125rem 0.25rem;
    }
    .goods-info {
      .specifications {
        font-size: 80%;
        padding: 0 0.3125rem 0.3125rem 0.3125rem;
      }
    }
  }
  .footer {
    padding: 0;
    .menus {
      order: inherit;
      width: 30%;
      .menu {
        width: 50%;
      }
    }
    .button {
      width: 35%;
      padding: 0;
      .button-text {
        font-weight: inherit !important;
        line-height: 49px;
        border: none;
        border-radius: 0;
        height: 49px;
        margin: 0;
        padding: 0;
        color: #FFF;
      }
    }
    .cart {
      background: linear-gradient(to right, #ffb500, #fd8307);

    }
    .buy {
      background: linear-gradient(to right, #5bc0de, #3bb4f2);
    }
    .disabled-buy {
      border: none;
      padding: 0;
      width: 70%;
      border-radius: 0;
      line-height: 49px;
      font-weight: normal;
    }
  }
  .window.cart, .window.buy {
    .preview img {
      border-radius: 5px
    }
    .price {
      color: red;
    }
    .confirm {
      .next {
        font-weight: normal;
        box-shadow: 0 1px 5px #666;
        border: none !important;
      }
    }
  }
  .window.cart {
    .next {
      background: linear-gradient(to right, #ffb500, #fd8307);
    }
  }

  .window.buy {
    form {
      margin-bottom: 0;
    }
    .next {
      background: linear-gradient(to right, #5bc0de, #3bb4f2);
    }
  }
  .quantity {
    > div, > input {
      border-color: #fd8307 !important;
    }
  }
}

body.cart {
  .bottom-cart {
    padding: 0;
    .check-container {
      padding-left: 15px;
    }
  }
  .footer {
    height: 1.25rem;
    .total-price {
      color: #333;
      .total-price-value {
        max-height: 1.25rem;
        color: red;
        display: inline-block;
        max-width: 60px;
        line-height: 15px;
        overflow-wrap: break-word;
        vertical-align: middle;
      }
    }
    form {
      margin: 0;
      .btn.pay {
        margin: 0;
        height: 1.25rem;
        border-radius: 0;
        font-size: 140%;
        font-weight: normal;
      }
    }
    .btn.delete {
      margin-right: 10px;
      font-weight: normal;
    }
    .checked {
      background-color: #3bb4f2;
    }
  }
  .header {
    margin-top: 0;
    background-color: #f7f7f7;
    .edit {
      border: none;
      background-color: #fd8307;
      font-weight: normal;
      box-shadow: 1px 1px 5px silver;
    }
  }
  .cart-list {
    background-color: #f7f7f7;
    .cart-item {
      box-shadow: 0 2px 10px silver;
      white-space: normal;
      overflow-wrap: break-word;
      background-color: #fff;
      border: none;
      margin-bottom: 15px;
      .check {
        width: 0.5rem;
        height: 0.5rem;
        &:before {
          width: 0.5rem;
          height: 0.5rem;
          line-height: 0.5rem;
        }
      }
      .checked {
        background-color: #3bb4f2;
      }
      .num .quantity {
        top: 20px;
        right: -8px;
        > div, > input {
          height: 0.85rem !important;
          line-height: 0.85rem !important;
          background-color: rgba(253, 131, 7, 0.8) !important;
          border: none !important;
          color: #fff;
          box-shadow: 1px 1px 2px silver !important;
          &:first-child {
            margin-right: 2px !important;
            border-radius: 5px 0 0 5px !important;
          }
          &:last-child {
            margin-left: 2px !important;
            border-radius: 0 5px 5px 0 !important;
          }
        }
      }
    }
    .goods-weight {
      font-size: 120% !important;
      white-space: normal !important;
    }
    .price {
      .value, .unit {
      }
      color: red !important;
    }
  }
}

body.pay {
  .express {
    box-shadow: 0 2px 10px silver;
    .progress {
      height: 5px;
      border-radius: 0;
    }
    .address-panel {
      padding: 0;
      .address-detail:after {
        top: 0.6rem;
      }
    }
  }
  .goods-list {
    padding-bottom: 20px;
    .header {
      height: 1rem;
    }
    margin-bottom: 20px;
    margin-top: 0;
    .cart-item {
      box-shadow: 0 0 7px silver;
      white-space: normal;
      overflow-wrap: break-word;
      background-color: #fff;
      border: none !important;
    }
    .goods-weight {
      font-size: 120% !important;
      white-space: normal !important;
    }
    .price {
      .value, .unit {
      }
      color: red !important;
    }
  }
  .order-express {
    border: none !important;
    box-shadow: 0 2px 10px silver;
    .order-customer-info {
      .order-name {
        width: 100%;
        white-space: normal;
        line-height: .625rem;
      }
    }
  }
  .block-item.price {
    padding: 0 12px 12px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px silver;
    border: none !important;
    p {
      padding-bottom: 0;
      &:last-child {
        padding: 0;
        font-size: 120%;
        color: red !important;
      }
    }
    hr {
      margin: 10px 0;
      border-top: 1px solid #eee;
    }
    .num.rmb {
      color: red;
      button {
        padding: 0;
        &:focus{
          outline: none;
          text-decoration: none;
        }
      }
    }

  }
  .confirm {
    button {
      background: linear-gradient(to top right, #5bc0de, #3bb4f2);
      font-weight: normal !important;
      box-shadow: 1px 1px 3px #666;
    }
  }

  .modal {
    $colors: (1, #E83928), (2, #F8B62C), (3, #2FA8E1);
    $bgc: #f3f3f3;
    .modal-body {
      background-color: $bgc;
      border-radius: 5px;
    }
    .coupon-list {
      background-color: #fff;
      margin: 0 0 15px;
      border-radius: 5px;
      border-top: 10px solid #aaa;
      .coupon-header {
        padding: 10px 15px 0;
        border-bottom: 2px dashed $bgc;
      }
      .coupon-body {
        padding: 5px 15px;
      }
      .coupon-name {
        vertical-align: top;
        width: calc(100% - 150px);
        font-size: 24px;
        display: inline-block;
      }
      .coupon-cut {
        text-align: right;
        line-height: normal;
        width: 145px;
        font-size: 50px;
        display: inline-block;
        font-weight: bold;
        small {
          font-size: 24px;
        }
      }
      .coupon-detail {
        width: calc(100% - 75px);
        font-size: 80%;
        display: inline-block;
        p {
          color: #333 !important;
          font-size: 80%;
          margin: 0;
          padding: 0;
          &:first-child {
            font-size: 120%;
          }
        }
      }
      .coupon-link {
        vertical-align: top;
        margin-top: 15px;
        font-size: 80%;
        display: inline-block;
        text-align: center;
        a {
          text-decoration: none;
          width: 70px;
          border-radius: 10px;
          background-color: #aaa;
          font-size: 120%;
          display: inline-block;
          padding: 2px 2px;
          color: #fff;
        }
        .coupon-used, .coupon-overdue {
          background-color: rgba(255, 255, 255, 0);
          border: 2px solid #aaa;
          color: #aaa;
          text-shadow: 1px 1px #fff;
          font-weight: bold;
          border-radius: 3px;
        }
        .coupon-used {
          position: relative;
          transform: rotate(35deg);
          top: -70px;
          right: -15px;
        }
      }
      .coupon-circle-1 {
        left: -6px;
        float: left;
        top: -7px;
        position: relative;
        border-radius: 6px;
        border: 6px solid $bgc;
      }
      .coupon-circle-2 {
        right: -6px;
        float: right;
        top: -7px;
        position: relative;
        border-radius: 6px;
        border: 6px solid $bgc;
      }
    }
    @each $type, $color in $colors {
      .coupon-style-#{$type} {
        border-color: $color;
        .coupon-name, .coupon-cut, .coupon-detail p:first-child {
          color: $color!important;
        }
        .coupon-link a {
          background-color: $color;
        }
      }
    }
  }

}

body.address {
  width: 100%;
  .address-info {
    margin: 0;
    padding: 0;
    .block-item {
      box-sizing: border-box;
      padding: 0 15px;
      margin: 0;
    }
  }
  label {
    font-weight: bold;
  }
  textarea {
    font-size: 0.4rem;
  }
  .footer {
    form {
      width: 100%;
      margin-bottom: 0;
    }
    .button {
      width: 50%;
      a, button {
        border: none !important;
        font-weight: normal !important;
        box-shadow: 1px 1px 1px silver;
        font-size: 15px !important;
      }
    }
    .button.cancle {
      a, button {
        color: #f7f7f7 !important;
        background-color: #fd8307;
      }
    }
  }
  .address-list {
    background-color: #f7f7f7;
    .address-container {
      margin-top: 0;
      border: none;
      .address-edit-container i {
        width: auto;
        height: auto;
        text-align: center;
        border-radius: 0;
        border: none;
        background-color: #fff;
        color: #3bb4f2;
        font-size: 200%;
        font-family: FontAwesome, serif;
        line-height: normal;
        font-style: normal;
      }
    }
    .add-address {
      text-align: center;
      width: 60%;
      margin: 15px auto;
      background: linear-gradient(to top right, #5bc0de, #3bb4f2);
      padding: 10px;
      color: #fff;
      border-radius: 3px;
      box-shadow: 1px 2px 5px silver;
      span {
        color: #fff;
      }
      i {
        vertical-align: middle;
      }
    }
    .address-item {
      background-color: #fff;
      border: none;
      box-shadow: 0 2px 8px silver;
      margin-bottom: 15px;
    }
  }
  .window.address.with-delete {
    .save .btn {
      border: none;
      background: linear-gradient(to top right, #5bc0de, #3bb4f2);
      box-shadow: 1px 1px 2px silver;
    }
    .delete .btn {
      border: none;
      background: linear-gradient(to top right, #ffb500, #fd8307);
      box-shadow: 1px 1px 2px silver;
      color: #fff;
    }
  }
}

body.empty {
  .empty-btn {
    color: #fff !important;
    margin: 0 10px !important;
    border: none;
    background: linear-gradient(to top right, #5bc0de, #3bb4f2);
    box-shadow: 1px 1px 2px silver;
  }
}

body.order {
  background-color: #f7f7fa !important;
  .content {
    margin-bottom: 10px;
  }
  .goods-list {
    margin-top: 0;
    .order-item {
      box-shadow: 0 -1px 3px silver;
      white-space: normal;
      overflow-wrap: break-word;
      background-color: #fff;
      border: none !important;
      margin-bottom: 20px;
      .cart-item {
        margin-bottom: 10px;
        border: none;
        background-color: #fafafa;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .block-item {
        padding: 0.3125rem;
      }
    }
  }
}

body.coupon {
  $colors: (1, #E83928), (2, #F8B62C), (3, #2FA8E1);
  $bgc: #f3f3f3;
  background-color: $bgc;
  .coupon-list {
    background-color: #fff;
    margin: 15px;
    border-radius: 5px;
    border-top: 10px solid #aaa;
    .coupon-header {
      padding: 10px 15px 0;
      border-bottom: 2px dashed $bgc;
    }
    .coupon-body {
      padding: 5px 15px;
    }
    .coupon-name {
      vertical-align: top;
      width: calc(100% - 150px);
      font-size: 24px;
      display: inline-block;
    }
    .coupon-cut {
      text-align: right;
      line-height: normal;
      width: 145px;
      font-size: 50px;
      display: inline-block;
      font-weight: bold;
      small {
        font-size: 24px;
      }
    }
    .coupon-detail {
      width: calc(100% - 75px);
      font-size: 80%;
      display: inline-block;
      p {
        &:first-child {
          font-size: 120%;
        }
        margin: 0;
      }
    }
    .coupon-link {
      vertical-align: top;
      margin-top: 15px;
      font-size: 80%;
      display: inline-block;
      text-align: center;
      a {
        text-decoration: none;
        width: 70px;
        border-radius: 10px;
        background-color: #aaa;
        font-size: 120%;
        display: inline-block;
        padding: 2px 2px;
        color: #fff;
      }
      .coupon-used, .coupon-overdue {
        background-color: rgba(255,255,255,0);
        border: 2px solid #aaa;
        color: #aaa;
        text-shadow: 1px 1px #fff;
        font-weight: bold;
        border-radius: 3px;
      }
      .coupon-used {
        position: relative;
        transform: rotate(35deg);
        top: -70px;
        right: -15px;
      }
    }
    .coupon-circle-1 {
      left: -6px;
      float: left;
      top: -7px;
      position: relative;
      border-radius: 6px;
      border: 6px solid $bgc;
    }
    .coupon-circle-2 {
      right: -6px;
      float: right;
      top: -7px;
      position: relative;
      border-radius: 6px;
      border: 6px solid $bgc;
    }
  }
  .nav-tabs {
    background-color: #fff;
    box-shadow: 2px 0 2px #aaa;
    border: none;
    li {
      width: 33%;
      text-align: center;
      a {
        border: none;
        color: #555;
      }
    }
    .active>a{
      border: none;
      border-bottom: 2px solid red;
      color: red;
    }
  }
  @each $type, $color in $colors {
    .coupon-style-#{$type} {
      border-color: $color;
      .coupon-name, .coupon-cut, .coupon-detail p:first-child {
        color: $color;
      }
      .coupon-link a {
        background-color: $color;
      }
    }
  }
}


